<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
			<title>ShadowTube</title>
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}"/>	
			<script src="../static/jquery-3.6.0.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<footer>
		{% block footer %}
			<a href="/">Video</a>
			<a href="/comments">Comments (alpha)</a>
			<a href="/why">Why?</a>
   			<!-- <a style="color: black" href="/">Onion link</a> -->
			<a href="https://github.com/danehobrecht/shadowtube" target="_blank">GitHub</a>
		{% endblock %}
	</footer>
</html>
