<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
			<title>ShadowTube</title>
			<!-- Font --> <link rel="stylesheet" type="text/css" href="https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version"/>
			<!-- CSS --> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css.css') }}"/>	
			<!-- jQuery --> <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<footer>
		{% block footer %}
			<a href="/">Video</a>
			<a href="/comments">Comments (alpha)</a>
			<a href="/why">Why?</a>
   			<!-- <a style="color: black" href="/">Onion link</a> -->
			<a href="https://github.com/danehobrecht/shadowtube" target="_blank">GitHub</a>
		{% endblock %}
	</footer>
</html>
