<!DOCTYPE html>

<html class="general-format";>

	<title>
		ShadowTube
	</title>

	<head>
		<!-- CSS -->
		<link rel="stylesheet"; type="text/css"; href="{{ url_for('static',filename='styles/css.css') }}";/>
		<!-- Font -->
		<link rel="stylesheet"; type="text/css"; href="https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version";/>
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>

	<body>
		<pre class="comments-box">
			<p class="comments-text">{{ output }}</p>
		</pre>
		<br>
		<form method="POST";>
			<input type="number"; name="commentSelection"; placeholder="0"; min="1"/>
			<input type="submit"; value="Submit";/>
		</form>
	</body>

	<footer>
		<br>
		<a style="color: black;"; href="/";>Videos</a>
		<a style="color: black;";>Comments (beta)</a>
		<a style="color: black;"; href="/why";>Why?</a>
   <!-- <a style="color: black;"; href="/";>Onion link</a> -->
		<a style="color: black;"; target="_blank"; href="https://github.com/danehobrecht/shadowtube";>GitHub</a>
	</footer>

</html>
