{% extends "layout.html" %}
{% block content %}
	<pre class="comments-box">
		<p class="comments-text">{{ output }}</p>
	</pre>
	<br>
	<form method="POST";>
		<input type="number"; name="commentSelection"; placeholder="0"; min="1"/>
		<input type="submit"; value="Submit";/>
	</form>
{% endblock %}

{% block footer %}
	<br>
	<a style="color: black;"; href="/";>Videos</a>
	<a style="color: black;";>Comments (beta)</a>
	<a style="color: black;"; href="/why";>Why?</a>
	<a style="color: black;"; target="_blank"; href="https://github.com/danehobrecht/shadowtube";>GitHub</a>
{% endblock %}
