<!DOCTYPE html>

<html class="general-format";>

	<title>ShadowTube</title>

	<head>
		<!-- CSS -->
		<link rel="stylesheet"; type="text/css"; href="{{ url_for('static',filename='styles/css.css') }}";/>
		<!-- Font -->
		<link rel="stylesheet"; type="text/css"; href="https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version";/>
	</head>

	<body>
		<br>
		<a href="/"; class="header-button";>ShadowTube</a>
		<!-- Image
		<img align="middle"; src="{{url_for('static', filename='images/png.png')}}";/>
		-->
		<br>
		<!-- Videos -->
		<p>Enter the YouTube video link in question.</p>
		<form 
			method="POST";>
			<input class="link-box"; type="text"; name="shareUrl"; placeholder="https://www.youtube.com/watch?v=Y6ljFaKRTrI";/>
		</form>
		<p>{{ vOutput }}</p>
		<br>
	</body>

	<footer>
		<br>
		<!-- GitHub -->
		<a style="color: black;"; target="_blank"; href="https://github.com/danehobrecht/shadowtube";>GitHub</a>
		<!-- Onion link -->
		<a style="color: black;"; href="/";>Onion link</a>
		<!-- Why -->
		<a style="color: black;"; href="/comments";>Comments (beta)</a>
		<!-- Comments (beta) -->
		<a style="color: black;"; href="/why";>Why?</a>
	</footer>

</html>
