<!DOCTYPE HTML>

<html class="general-format">
	<head>
		{% block head %}
			<!-- Font --> <link rel="stylesheet"; type="text/css"; href="https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version";/>
			<!-- CSS --> <link rel="stylesheet"; type="text/css"; href="{{ url_for('static', filename='styles/css.css') }}";/>	
			<!-- jQuery --> <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<title>ShadowTube</title>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
	<footer>
		{% block footer %}
			<a id="a.videos"; href="/";>Videos</a>
			<a id="a.comments"; href="/comments";>Comments (beta)</a>
			<a id="a.why"; href="/why";>Why?</a>
   			<!-- <a style="color: black;"; href="/";>Onion link</a> -->
			<a id="a.github"; target="_blank"; href="https://github.com/danehobrecht/shadowtube";>GitHub</a>
		{% endblock %}
	</footer>
</html>
