{% extends "base.html" %}
{% block content %}
	<div class="center-page">
		<h1>ShadowTube</h1>
		<p>Enter the YouTube video link in question.</p>
		<form method="POST";>
			<input 
				class="link-box" 
				type="text"
				name="url" 
				id="link-input"
				placeholder="https://www.youtube.com/watch?v=Y6ljFaKRTrI" 
				maxlength="43"
			/>
			<div class="loader toshow"></div>
		</form>
		<script>
			$("#link-input").on('keypress',function(e) {
				if(e.which == 13) {
					$("div.toshow").show();
					$("input.link-box").hide();
					$("p").hide();
					$("h1").hide();
				}
			});
		</script>
	</div>
{% endblock %}
