<!DOCTYPE html>

<html class="general-format";>

	<title>
		ShadowTube
	</title>

	<head>
		<!-- CSS -->
		<link rel="stylesheet"; type="text/css"; href="{{ url_for('static',filename='styles/css.css') }}";/>
		<!-- Font -->
		<link rel="stylesheet"; type="text/css"; href="https://fontlibrary.org//face/liberation-sans-unofficial-opentype-cff-version";/>
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>

	<body>
		<!-- Text -->	
		<div class="text-box center-page";>
			<h3>What is shadowbanning?</h3>
			<p>Shadowbanning, otherwise known as "stealth banning", or, "ghost banning", is the partial or complete removal of content from an online community, otherwise unknown to the banned user. The type of effected content can vary platform-to-platform, but generally it's focused on uploaded text/media. When a content creator has suspicion regarding a possible shadowban, they generally consult their respective userbase on an alternative platform. With shadowbanning regularly occurring on nearly every social media service, this could be a problematic approach; especially if said creator publishes similar content on each service. Due to content creation being a significant source of income for numerous creators, time is key. "ShadowTube" serves to reduce the time wasted by content creators digging for evidence so they can have more certainty with their next steps.</p>
			<h3>What incentivizes a platform to shadowban in the first place?</h3>
			<p>If content goes against a platform's poltical, social, or financial agenda, it becomes susceptible to shadowbanning. With that said, there are cases of shadowbanning that seem to base on standards that are unknown. This type of banning could likely be automated.</p>
			<h3>What can be done?</h3>
			<p>Awareness is key. If enough attention is brought to an instance, it could threaten the platform in differing ways, to which actions are sometimes reversed. Evidence is key in this process, and this website serves to fill that need.</p>
		</div>
	</body>

	<footer>
		<br>
		<a style="color: black;"; href="/";>Videos</a>
		<a style="color: black;"; href="/comments";>Comments</a>
		<a style="color: black;";>Why?</a>
   <!-- <a style="color: black;"; href="/";>Onion link</a> -->
		<a style="color: black;"; target="_blank"; href="https://github.com/danehobrecht/shadowtube";>GitHub</a>
	</footer>

</html>
