{% extends "base.html" %}
{% block content %}
	<div class="center-page">
	<h1>ShadowTube</h1>
		<div class="text-box">
			<h3>What is shadowbanning?</h3>
			<p>Shadowbanning, otherwise known as "stealth banning", or, "ghost banning", is the uncommunicated partial or complete removal of content from an online community.</p>
			<h3>Why does this happen?</h3>
			<p>If content goes against a platform's poltical, social, or financial agenda, it becomes subject to shadowbanning.</p>
			<h3>What can be done?</h3>
			<p>Awareness is key. If enough attention is brought to an instance of shadowbanning, it could threaten the platform in differing ways, to which actions are sometimes reversed. Creators commonly seek evidence by consulting audiences on alternative platforms via polls. Considering said creator might post similarly challenging content on other platforms, with their respective secretive banning, this is a problematic approach. Uncompromised evidence is crucial, and this website serves to fill the need; to work towards algorithmic equity.</p>
		</div>
	</div>
{% endblock %}
