a {
	color: white;
}

pre {  
	font-family: 'LiberationSansBold';
	font-size: 20px;
	color: white;
}

html {  
	font-family: 'LiberationSansBold';
	font-size: 20px;
	color: white;
	background-color: black;
	text-align: center;
}

footer {
	font-size: 18px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
	position: absolute;
    overflow: hidden;
}

.toshow {
	display: none;
}

.center-page {
    top: 43%;
	left: 50%;
	position: absolute;
    transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.link-box {
	font-family: 'LiberationSansRegular';
	font-size: 18px;
	height: 50px;
	width: 500px;
	text-align: center;
}

.output-box {
	margin: auto;
	text-align: left;
	height: 650px;
	width: 1300px;
	color: black;
	background-color: black;
	padding: 10px;
	overflow: auto;
	border: 2px solid white;
}

.text-box {
	margin: auto;
	text-align: left;
	padding: 10px;
	border: 2px solid white;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.loader {
	margin: auto;
	width: 15px;
	height: 15px;
	border-radius: 15%;
	border: 15px solid white;
	animation: spin 2s linear infinite;
}
